[global]
type=global
user_agent=VoiceWorkflow-Asterisk

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
${SIP_TRANSPORT_NAT_LINES}

[transport-tcp]
type=transport
protocol=tcp
bind=0.0.0.0:5060
${SIP_TRANSPORT_NAT_LINES}

[transport-tls]
type=transport
protocol=tls
bind=0.0.0.0:5061
method=tlsv1_2
${SIP_TRANSPORT_NAT_LINES}

[frejun-trunk-aor]
type=aor
contact=sip:${SIP_TRUNK_DOMAIN}
qualify_frequency=30

[frejun-trunk]
type=endpoint
context=from-frejun
disallow=all
allow=ulaw:20,alaw:20
use_ptime=yes
aors=frejun-trunk-aor
from_user=${SIP_TRUNK_FROM_USER}
from_domain=${SIP_TRUNK_DOMAIN}
callerid="Voice Workflow" <${SIP_TRUNK_CALLER_ID}>
outbound_proxy=sip:${SIP_TRUNK_DOMAIN}\;transport=${SIP_TRUNK_TRANSPORT}
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes
rtp_keepalive=${SIP_RTP_KEEPALIVE}
rtp_timeout=${SIP_RTP_TIMEOUT}
transport=${SIP_ASTERISK_TRANSPORT}
${SIP_OUTBOUND_AUTH_LINE}

[frejun-identify]
type=identify
endpoint=frejun-trunk
match=${SIP_TRUNK_IDENTIFY_MATCH}

${SIP_AUTH_SECTION}
